<div class="container">
  <div class="left">
    <div class="sidebar">
      <div class="logo">
        <img src="assets/icons/logo-large.svg" alt="icon" />
      </div>
      <div class="summary">
        <div class="text-preset-1">
          Keep track of your money and save for your future
        </div>
        <div class="text-preset-4">
          Personal finance app puts you in control of your spending. Track
          transactions, set budgets, and add to savings pots easily.
        </div>
      </div>
    </div>
  </div>
  <div class="right">
    <app-authmodal [type]="type" (login)="login($event)" />
  </div>
</div>
