<div class="container">
  <div class="left">
    <div class="sidebar">
      <div class="logo">
      </div>
      <div class="summary">
        <div class="text-preset-1">Stay in control of your deliveries and move your business forward</div>
        <div class="text-preset-4">
          Create shipments in seconds, follow them from pickup to delivery, and keep your clients informed. Fast,
          simple, and powerful everything you need to manage your transport activity.
        </div>
      </div>
    </div>
  </div>
  <div class="right">
    <app-authform [type]="type" (submitForm)="submit($event)" />
  </div>
</div>
