<div class="container">
  <div class="title text-preset-1">
    {{ type }}
  </div>

  <div class="content">
    @if(type === "login") {
    <form [formGroup]="loginForm">
      <app-input label="Email" type="email" formControlName="email" />
      <app-input
        label="Password"
        type="password"
        icon="icon-show-password"
        formControlName="password"
      />
    </form>
    } @else {
    <form [formGroup]="singUpForm">
      <app-input label="First Name" type="text" formControlName="firstName" />
      <app-input label="Last Name" type="text" formControlName="lastName" />
      <app-input label="Email" type="email" formControlName="email" />
      <app-input
        label="Password"
        type="password"
        icon="icon-show-password"
        formControlName="password"
      />
      <app-input
        label="Password confirmation"
        type="password"
        icon="icon-show-password"
        formControlName="confirmationPassword"
      />
    </form>
    }
  </div>

  <app-button
    size="large"
    [label]="type"
    (clicked)="onSubmit()"
    [disabeld]="type === 'login' ? !loginForm.valid : !singUpForm.valid"
  />

  <div class="footer">
    @if ( type === "login") {
    <span class="text-preset-4">Need to create an account?</span>
    <span class="text-preset-4-bold link" [routerLink]="['/sing up']">Sing Up</span>
    } @else {
    <span class="text-preset-4">Already have an account?</span>
    <span class="text-preset-4-bold link" [routerLink]="['/login']">Login</span>
    }
  </div>
</div>
