.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-50, 4px);

  span {
    color: var(--beige500);
  }

  .label {
    margin: 0;
    color: var(--grey500);
  }

  .input-container {
    display: flex;
    width: auto;
    padding: var(--spacing-150, 12px) var(--spacing-250, 20px);
    align-items: center;
    gap: var(--spacing-200, 16px);
    align-self: stretch;

    border-radius: var(--spacing-100, 8px);
    border: 1px solid var(--color-beige-500, #98908b);
    background: var(--color-white, #fff);

    &:focus-within {
      border: 1px solid var(--color-grey-900, #201f24);
    }

    input {
      border: none;

      &:focus {
        outline: none;
      }

      &:hover::placeholder {
        color: var(--beige900);
      }
    }

    .left-side {
      display: flex;
      align-items: center;
      gap: var(--spacing-150, 12px);
      flex: 1 0 0;
    }
  }

  .helper-text {
    margin: 0;
    color: var(--grey500);
    width: 100%;
    text-align: end;
  }
}
