<div class="container">
  <p class="label text-preset-5-bold">{{ label }}</p>
  <div class="input-container">
    <div class="left-side">
      @if(tagColor) {
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="17"
        viewBox="0 0 16 17"
        fill="none"
      >
        <circle cx="8" cy="8.5" r="8" [attr.fill]="tagColor" />
      </svg>
      } @if(textPrefix) {
      <span class="text-preset-4">{{ textPrefix }}</span>
      }
      <input
        class="text-preset-4"
        [type]="type"
        [placeholder]="placeholder"
        (focus)="onFocus()"
        (blur)="onBlur()"
        (input)="onInput($event)"
      />
    </div>

    @if(icon) {
    <img [src]="iconPath" class="icon" alt="icon" />
    }
  </div>
  @if(hasError) {
    <span class="helper-text text-preset-5">error text</span>
  }
  
</div>
